body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    /* Marges pour les titres */
    margin-top: 1.5em;
    margin-bottom: 0.5em;

    /* Couleur des titres */
    color: #111;
}